
.appContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headerContainer
{
  background-color: #282c34;
  flex: 1;
  display: flex;
  justify-content: space-between;

}

.rightQuick
{
  height: 80px;
  width: 300px;
  justify-self: flex-end;
  margin-right: 20px;
  display: flex;
}

.userHolder
{
  margin: 5px;
  flex: 1;
}
.cartHolder
{
  margin: 5px;
  flex: 1;
}

.userContainer
{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userContainer div,#userA{
  color: white;
  font-size: large;
}
.cartCount{
  margin-left: 25px;
  margin-top: 10px;
}
.bodyContainer{
  flex: 8;
  display: flex;

}

.menuContainer{
  flex:1;
  background-color: #b8d9ec;
}

.logoImg
{
  height: 55px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

.menuItem{
  height: 40px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.menuItem a{
  text-decoration: none;
}

.mainContainer{
  flex:5;
}

.marginPage{
  height: 100vh;
  margin: 20px;
  background-color: rgb(243, 243, 243);
  padding: 20px;
}



.footerContainer
{
  background-color: #282c34;
  flex: 1;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.copyRight
{
  font-size: large;
  font-weight: 400;
  align-self: center;
  margin-left: 100px;
}



/* Register page */

.register {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 7px;
}

.valMsg
{
  font: bold;
  font-size: medium;
  color: red;
}


/* Login Page */

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}

/* Dashboard Page */

.sliderContainer
{
  height: 20vh;
}
.produtList
{
  display: flex;
  flex:3;
}

.productContainer{
  text-align: center;
  background-color: lightcyan;
  margin: 10px;
  padding: 5px;
}
