
.appContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headerContainer
{
  background-color: #282c34;
  flex: 1;

}

.bodyContainer{
  flex: 8;
  display: flex;

}

.menuContainer{
  flex:1;
  background-color: #b8d9ec;
}

.logoImg
{
  height: 55px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}

.menuItem{
  height: 40px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.menuItem a{
  text-decoration: none;
}

.mainContainer{
  flex:5;
}

.marginPage{
  height: 100vh;
  margin: 20px;
  background-color: rgb(243, 243, 243);
  padding: 20px;
}



.footerContainer
{
  background-color: #282c34;
  flex: 1;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.copyRight
{
  font-size: large;
  font-weight: 400;
  align-self: center;
  margin-left: 100px;
}